/* Breadcrumb */
.dashboard-breadcrumb {
    height: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.dashboard-beadcrumb-right {
    margin-left: auto;
}

.dashboard-beadcrumb-center {
    margin-left: center;
    display: none;
}

.dashboard-beadcrumb-left {
    margin-right: auto;
}

/* Dashboard Grid */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

/* Card */
.card {
    background-color: var(--bg-dark);
    border-radius: var(--radius);
    padding: var(--padding);
    transition: var(--transition);
}

.card:hover {
    box-shadow: var(--hover);
}

.kpi-card {
    display: flex;
    justify-content: space-between;
}

.kpi-card-left {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
}

.kpi-card-left i {
    font-size: 1.5rem;
    color: var(--primary);
}

.kpi-card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    color: var(--primary);
}

.kpi-card-right span:first-child {
    font-size: 1rem;
    font-weight: bold;
}

/* Charts */
.chart-card .chart-header i {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: calc(var(--margin) / 2);
}

.line-chart-card,
.column-chart-card {
    grid-column: span 3;
}

.pie-chart-card {
    grid-column: span 1;
}

.legend-placeholder {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    text-align: center;
}

.legend-placeholder .legend-item {
    width: calc(100% / 3.25);
    background-color: var(--primary);
    padding: calc(var(--padding) / 4) calc(var(--padding) / 3);
    border-radius: var(--radius);
    font-size: 0.75rem;
}

.browser-stats-table {
    width: 100%;
    grid-column: span 1;
    border-collapse: collapse;
    border-radius: var(--radius);
}

.browser-stats-table tr {
    border-top: 3px solid var(--bg-light);
    border-bottom: 3px solid var(--bg-light);
}

.browser-stats-table th,
.browser-stats-table td {
    text-align: left;
    padding: var(--padding) calc(var(--padding) / 2);
}

/* Button */
.mode-btn {
    padding: calc(var(--padding) / 3) calc(var(--padding) / 2);
    cursor: pointer;
    outline: none;
    border-radius: var(--radius);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: var(--transition);
    box-shadow: var(--shadow);
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .dashboard-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chart-card {
        grid-column: span 2;
    }

    .legend-placeholder .legend-item {
        width: calc(100% / 5.25);
    }
}

@media screen and (max-width: 600px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .chart-card {
        grid-column: span 1;
    }
}
