.order-edit-form-container {
    display: flex;
    justify-content: center;
}

.order-edit-form-wrapper {
    background-color: var(--bg-light);
    padding: calc(var(--padding) * 2);
    border-radius: var(--radius);
    max-width: 800px;
    width: 100%;
    box-shadow: var(--shadow);
}

.order-edit-form-group {
    margin-bottom: 20px;
    display: flex;
}

.order-edit-form-group label {
    margin-bottom: var(--margin);
    width: 200px;
    display: flex;
    align-items: center;
}

.order-edit-form-group input,
.order-edit-form-group select {
    width: 100%;
    padding: var(--padding);
    background-color: var(--background);
    border: var(--border);
    border-radius: var(--radius);
}

select:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: var(--shadow);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: calc(var(--margin) * 2);
}

.btn-left,
.btn-right {
    display: flex;
    gap: var(--gap);
}

@media (max-width: 768px) {
    .order-edit-form-group label {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .order-edit-form-group {
        flex-direction: column;
    }

    .order-edit-form-group label {
        width: 100%;
    }

    .btn-group {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .btn-left,
    .btn-right {
        flex-direction: column;
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}
